<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MoneyPenny - Credit Card Expert</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
    <!-- Meta Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '1526873934618028');
    fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=1526873934618028&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Meta Pixel Code -->
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-Q03XBXT1JY"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-Q03XBXT1JY');
    </script>
</head>
<body>
    <div id="initial-state">
        <header>
            <h1>MoneyPenny AI &#128179;</h1>
            <h2>Ask me anything about credit cards</h2>
            <p>I'm expertly trained with data on 50+ most common US credit cards</p>
        </header>
        <div id="initial-input-container">
            <!-- This input field is for the initial state -->
            <input type="text" id="initial-user-input" placeholder="Type your question">
            <button id="initial-send-btn">&#10140;</button> <!-- Unicode right-pointing arrow -->
            <div id="initial-suggestion-container">
                <p id="prompt-suggestion1">✈️ Top travel credit cards</p>
                <p id="prompt-suggestion2">🛍️ Cards with high cashback on groceries</p>
                <p id="prompt-suggestion3">🛠️ Cards designed for building credit</p>
            </div>
        </div>
    </div>
    <div id="chat-container" class="hidden">
        <div id="chat-box">
            <!-- Messages will be appended here -->
            <div id="loading-spinner" class="hidden">
                <div class="spinner"></div>
                <p>Crunching credit card data for you...</p>
            </div>
        </div>
        <!-- Container for prompt suggestions -->
        <div id="prompt-suggestions-container"></div>
        
        <div id="message-input-container">
            <!-- This input field is for the chat interface -->
            <input type="text" id="chat-user-input" placeholder="Type your question">
            <button id="send-btn">&#10140;</button> <!-- Unicode right-pointing arrow -->
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/markdown-it/dist/markdown-it.min.js"></script>
</body>
</html>
